@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-header: #9435E3;
    --bg-body: #fff;
    --col-primary: #fff;
    --col-input: #AD35E3;
    --col-input-focus: #7941A8;
    --col-btn: #751ba8;
    --col-btn-hover: #7941A8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

input:not([type="search"]) {
    height: 55px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid var(--col-input);
    background: transparent;
    width: 100%;
    color: var(--col-input);

}

.content__search__input {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    box-shadow: rgba(11, 11, 17, 0.1) 0px 1px 0px;
}

input::placeholder {
    color: var(--col-input);
    font-weight: 700;

}

input:focus {
    border: 2px solid var(--col-input-focus);
    outline: 0;
}


header {
    height: 90px;
    background-color: var(--bg-header);
    color: var(--col-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__text {
    font-size: 2rem;
}


h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

.content__main {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
    background-color: var(--bg-body);
    text-align: center;
    gap: 50px;
    padding: 40px 15px;
}

.content__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 100%;
    font-weight: 700;
}

.btn {
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn__send {
    background-color: var(--col-input);
    border: 1px solid var(--col-input);
    color: var(--col-primary);
}

.btn__send:hover,
.btn__clean:hover {
    background-color: var(--col-btn-hover);
    border: 2px solid var(--col-btn-hover);
}

.btn__clean {
    border: 2px solid var(--col-input);
    color: var(--col-input);
}

.btn__clean:hover {
    color: var(--col-primary)
}

fieldset {
    width: 100%;
}

.message-error {
    color: red;
}

/* productos */
.content__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 700px;
}

.content__list__item {
    width: 200px;
    height: 265px;
    background-color: var(--col-primary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;


}

.item__img {
    width: 100%;
    margin-bottom: 10px;
    height: 160px;
    object-fit: contain;
    cursor: pointer;
}

.content__list__item__info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: var(--bg-header);

}

.btn__delete {
    cursor: pointer;
}

.btn__delete:hover {
    color: var(--col-btn);
}

.content__footer {
    background-color: var(--bg-header);
    height: 100px;
    color: var(--col-primary);
    padding: 20px;
    text-align: center;
    line-height: 1.3rem;
 
}

.content__footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__footer__title {
    font-weight: 700;
    font-size: 1.5rem;
}

.content__footer__subtitle1 {
    font-size: 0.8rem;
}

.content__footer__subtitle2 {
    font-size: 0.7rem;
    color: rgb(223, 217, 217);
}

.md-18 {
    font-size: 18px;
}

@media screen and (min-width:768px) {
    .content__main {
        flex-direction: row;
        padding: 40px;
        justify-content: space-around;
    }

    .products {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }

    .content__list {

        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        padding: 15px;
        flex-direction: row;
        margin-top: 30px;
        height: 600px;
        width: 100%;
    }

    .new__product {
        width: 500px;
    }

    h1{
        font-size: 1.8rem;
    }
}

@media screen and (min-width:1024px) {
    main {
        padding: 40px 85px;
    }
}